.team_container{
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 30px;
  margin-bottom: 100px;
  width: 50%;
  .team_text {
    text-align: center;
  }
  .team_group {
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .team_container {
    padding: 10px;
    width: 90%;
  }
}