#card_container {
  margin-bottom: 50px;
  .card {
    padding: 30px;
    .card_img {
      padding: 30px;
      margin: auto;
    }
    .button_container {
    }
  }
}
.save_button {
  margin-bottom: 15px;
}
